services:
  proxy1: &base
    image: datagutten/feig-py
    restart: always
    ports:
      - "${PROXY1}:10001:10001"
    volumes:
      - ./data:/app/data
    command: python proxy.py ${GATE1}

  proxy2:
    <<: *base
    ports:
      - "${PROXY2}:10001:10001"
    command: python proxy.py ${GATE2}


  parse_data:
    <<: *base
    command: python parse_data.py data
    volumes:
      - ./data:/app/data
      - ./parsed_data:/app/parsed_data

  prometheus:
    container_name: prometheus
    image: prom/prometheus
    restart: unless-stopped

    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=750d
      - --web.enable-admin-api

    volumes:
      #- ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus
    environment:
      - TZ=Europe/Oslo

volumes:
  prometheus: